.filter_nav {
    font-size: 20px;
    color: var(--color-light-grey);
    border-bottom: 1px solid var(--color-light-white);
    box-sizing: border-box;
}

.filter_nav__list {
    display: flex;
    font-size: var(--font-small);
}

.filter_nav__item + .filter_nav__item {
    margin-left: 35px;
}

.filter_nav__link {
    display: inline-block;
    cursor: pointer;
    padding-bottom: 20px;
}

.filter_nav__link:hover {
    font-weight: bolder;
}

.filter_nav__link.active {
    border-bottom: 2px solid var(--color-light-grey);
    font-weight: bolder;
}

@media screen and (min-width: 769px) {
    .filter_nav {
        font-size: 20px;
        color: var(--color-light-grey);
        border-bottom: 1px solid var(--color-light-white);
        box-sizing: border-box;
    }

    .filter_nav__list {
        display: flex;
    }

    .filter_nav__item + .filter_nav__item {
        margin-left: 35px;
    }

    .filter_nav__link {
        display: inline-block;
        cursor: pointer;
        padding-bottom: 20px;
    }

    .filter_nav__link:hover {
        font-weight: bolder;
    }

    .filter_nav__link.active {
        border-bottom: 2px solid var(--color-light-grey);
        font-weight: bolder;
    }
}