#main-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-page__column {
    width: 50%;
    padding: 0 2rem;
}

.main-page__title {
    padding: 1rem 0;
    display: inline-block;
    font-size: var(--font-x-large);
    background: -webkit-linear-gradient(
        100deg,
        var(--color-green),
        var(--color-orange)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: var(--weight-semi-bold);
}

.main-page__desc {
    margin-top: 1.2em;
}

.main-page__typer {
    display: inline-block;
    margin-bottom: 0.5em;
}

.main-page__search {
    margin-top: 1em;
}

/*  ### PC ###  */
@media (max-width: 1280px) {
    /* 너비가 1024 ~ 1280px: 데스크탑 */
}
@media (max-width: 1024px) {
    /* 너비가 960 ~ 1024px: 데스크탑 */
}
@media (max-width: 960px) {
    /* 너비가 768 ~ 960px: 노트북 */
}

/* ### 타블릿 ### */
@media (max-width: 768px) {
    /* 너비가 576 ~ 768px: 타블릿 */
}

/* ### 모바일 ### */
@media (max-width: 576px) {
    /* 너비가 0 ~ 576px: 모바일 */
    #main-page {
        flex-direction: column;
    }

    .main-page__column {
        width: 100%;
        padding: unset;
    }

    .main-page__column:first-child {
        text-align: center;
    }

    .main-page__title {
        font-size: var(--font-x-medium);
    }

    .main-page__desc {
        font-size: var(--font-micro);
    }
}
