{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true, // ssr
        "displayName": true, // displayName
        "preprocess": true // preprocess
      }
    ]
  ]
}
