.ranking__header {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ranking__help-text {
    line-height: 20px;
}

.ranking__help-text span {
    color: var(--color-dark-white);
    font-size: var(--font-micro);
}

.ranking__content {
    margin-top: 20px;
}