#search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--height-footer) - var(--height-header));
}

.search__main-logo {
    cursor: pointer;
    transition: transform 2s ease-in-out;
}

.search__main-logo:hover {
    transform: rotate(-4deg) scale(1.1);
}

.search__form {
    margin-top: 30px;
}

.search__form input {
    border: none;
    outline: none;
}
.search__form input[type="text"] {
    height: 50px;
    width: 300px;
    padding-bottom: 10px;
    font-size: var(--font-medium);
    border-bottom: 1px solid var(--color-dark-white);
}

.search__form input[type="text"]::placeholder {
    color: var(--color-dark-white);
}

.search__form input[type="submit"] {
    border-radius: var(--size-border-radius);
    cursor: pointer;
    height: 50px;
    background-color: var(--color-light-white);
    font-weight: var(--weight-bold);
    text-align: center;
    padding: 10px 20px;
}

.search__form input[type="submit"]:hover {
    background-color: var(--color-green);
    color: var(--color-white);
}
