/* variables */
body {
    /* height */
    --height-header: 75px;
    --height-footer: 100px;

    /* height */
    --height-mobile-header: 80px;
    --height-mobile-footer: 110px;
}

/* Header */
#header {
    position: fixed;
    width: 100%;
    top: 0;
    height: var(--height-header);
    box-shadow: 0 2px 4px 0 hsl(0deg 0% 81% / 50%);
    padding: 5px 5%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: saturate(180%) blur(15px);
    z-index: 2;
    font-size: 0.9rem;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.header__link {
    display: inline-block;
}

.header__title {
    font-size: var(--font-regular);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 1em;
    color: var(--color-white);
    border-radius: var(--size-border-radius);
    background-color: var(--color-dark-green);
    font-weight: var(--weight-semi-bold);
    cursor: pointer;
}

.header__title img {
    cursor: inherit;
    width: 2em;
}
.header__title span {
    cursor: inherit;
    padding: 0 0.2em;
}

.header__menu-btn {
    display: none;
    color: inherit;
    cursor: pointer;
    position: absolute;
    right: 15px;
}

/* Navbar */
.navbar__menu {
    display: flex;
    color: var(--color-light-grey);
}

.navbar__menu li {
    height: 35px;
    line-height: 35px;
}

.navbar__item {
    cursor: pointer;
    padding: 0.3em 0.7em;
    margin: 0 7px;
}

.navbar__item:hover {
    font-weight: bolder;
}

.navbar__item.active {
    border-bottom: 2px solid var(--color-green);
    font-weight: bolder;
}

/* Content */
#content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--height-header) 0 0 0;
    min-height: calc(100vh - var(--height-footer));
}

#content > div {
    max-width: var(--size-max-width);
    width: 100%;
    height: 100%;
    padding: 30px 50px;
}

/* Footer */
#footer {
    font-size: var(--font-micro);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1.5px var(--color-dark-white);
    background-color: var(--color-white);
    opacity: 0.65;
    color: var(--color-dark-grey);
    height: var(--height-footer);
}

.footer__desc {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: normal;
}

.footer__desc img {
    margin-left: 5px;
    width: 20px;
}

.footer__spliter {
    border: 0.5px solid var(--color-dark-grey);
    height: 20px;
    margin: 0 25px;
}

.footer__links {
    display: flex;
}

.footer__links__item {
    cursor: pointer;
    margin-right: 1.5em;
}

/*  ### PC ###  */
@media (max-width: 1280px) {
    /* 너비가 1024 ~ 1280px: 데스크탑 */
}
@media (max-width: 1024px) {
    /* 너비가 960 ~ 1024px: 데스크탑 */
}
@media (max-width: 960px) {
    /* 너비가 768 ~ 960px: 노트북 */
}

/* ### 타블릿 ### */
@media (max-width: 768px) {
    /* 너비가 576 ~ 768px: 타블릿 */
}

/* ### 모바일 ### */
@media (max-width: 576px) {
    /* 너비가 0 ~ 576px: 모바일 */
    #header {
        height: var(--height-mobile-header);
        position: fixed;
        height: unset;
    }

    .header__wrap {
        flex-direction: column;
        padding: 15px 0;
    }

    .header__navbar {
        width: 100%;
        margin-top: 15px;
        display: none;
    }

    .header__column:nth-child(1) {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        color: white;
    }

    .navbar__menu {
        flex-direction: column;
    }

    .navbar__menu li {
        text-align: center;
    }

    .header__link {
        width: 100%;
        position: relative;
    }

    .header__menu-btn {
        display: unset;
    }

    #content {
        padding: var(--height-mobile-header) 0 0 0;
        min-height: calc(100vh - var(--height-mobile-footer));
    }

    #content > div {
        padding: 30px;
    }

    #footer {
        flex-direction: column;
        height: var(--height-mobile-footer);
    }

    .footer__desc {
        border: unset;
        padding: unset;
    }

    .footer__links {
        margin-top: 15px;
    }

    .footer__links__item {
        margin: 0 1em;
    }
}
