@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

html,
body {
    font-family: "Open Sans", sans-serif;
    color: var(--color-dark-grey);
    position: relative;
    margin: 0px;
    padding: 0px;
}

html,
body,
#app,
.root {
    height: 100%;
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

a,
a:active,
a:visited {
    text-decoration: none;
    color: var(--color-dark-grey);
}

input[type="text"] {
    cursor: text;
}

* {
    box-sizing: border-box;
    cursor: default;
}

h1 {
    font-size: x-large;
}

.mobile-only {
    display: none !important;
}

@media (max-width: 576px) {
    /* 너비가 ~ 576px: 모바일 */
    .pc-only {
        display: none !important;
    }
    .mobile-only {
        display: inherit !important;
    }
}
