/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-green: #42b983;
    --color-dark-green: #29855b;
    --color-yellow: #ffd92b;
    --color-orange: #f1955b;
    --color-black: #000000;

    /* Theme */
    --theme-color: var(--color-green);
    --theme-color-2: var(--color-white);
    --font-color: var(--color-light-grey);

    /* Font size */
    --font-large: 3rem;
    --font-medium: 1.875rem;
    --font-regular: 1.125rem;
    --font-small: 1rem;
    --font-micro: 0.875rem;
    --font-x-micro: 0.6rem;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 6px;
    --size-max-width: 1200px;
    --size-min-width: 

    /* Animation */
    --animation-duration: 300ms;

    /* Responsive size*/
    --max-width-mobile: 576px;
    --max-width-tablet: 768px;
    --max-width-laptop: 960px;
}
