.noti-page {
    width: 45%;
}

.noti {
    position: relative;
    padding: 25px;
    max-width: 500px;
    margin: 0 auto;
}

.noti__time-line {
    left: 0;
    position: absolute;
    height: 100%;
    border-left: 2px solid #e4e7ed;
}

.noti__time-node {
    position: absolute;
    background-color: #e4e7ed;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    left: -5px;
}
