.c-user-list-card {
    width: 200px;
    height: 330px;
    padding: 10px 0;
    border: 1px solid var(--color-light-white);
    -webkit-box-shadow: 0px 0px 13px -1px var(--color-dark-white);
    -moz-box-shadow: 0px 0px 13px -1px var(--color-dark-white);
    box-shadow: 0px 0px 13px -1px var(--color-dark-white);
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow ease-in-out 100ms;
    margin: 8px;
}

.c-user-list-card * {
    cursor: inherit;
}

.c-user-list-card:hover {
    box-shadow: 0px 0px 10px 2px var(--color-green);
}

.c-user-list-card__avatar-wrap {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-user-list-card__avatar {
    width: 85px;
    height: 85px;
    border-radius: 7px;
}

.c-user-list-card__title-wrap {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.c-user-list-card__id {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.c-user-list-card__id img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.c-user-list-card__name {
    margin-top: 8px;
    font-size: 0.75em;
}

.c-user-list-card__infos {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-user-list-card__infos li {
    font-size: 0.85em;
    height: 1.5rem;
    /* min-width: 20%; */
    max-width: 58%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.c-user-list-card__organization {
    width: 15px;
    height: 15px;
    border-radius: 3px;
}

.c-user-list-card__organization:not(:first-child) {
    margin: 0 1px;
}

.c-user-list-card__tier img {
    width: 13px;
    height: 13px;
    margin-right: 3px;
}
/* ### 모바일 ### */
@media (max-width: 576px) {
    /* 너비가 0 ~ 576px: 모바일 */
    .c-user-list-card {
        width: 44%;
        font-size: 0.9rem;
    }

    .c-user-list-card:not(:first-child) {
        margin-top: 10px;
    }

    .c-user-list-card__organization {
        align-items: center;
        margin: 0;
    }

    .c-user-list-card__id {
        flex-direction: column;
    }
}
