.recommand__tabs {
    width: 100%;
    height: 35px;
    border-top: 1.2px solid var(--color-light-white);
    border-bottom: 1.2px solid var(--color-light-white);
}

.recommand__tab {
    float: left;
    height: 100%;
    width: 50%;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    color: var(--color-light-grey);
}

.recommand__tab.active {
    background-color: var(--color-green);
    color: var(--color-white);
}

.recommand__list {
    min-height: 200px;
}

.recommand__list li {
    font-size: var(--font-micro);
    float: left;
    padding: 15px 25px;
    width: 50%;
}

.recommand__id:hover {
    cursor: pointer;
    text-decoration: underline;
}

.recommand__btn {
    color: var(--color-dark-white);
    float: right;
    padding: 0 2px;
    cursor: pointer;
}

.recommand__btn * {
    cursor: inherit;
}

.recommand__btn.active {
    color: var(--color-green);
}

/*  ### PC ###  */
@media (max-width: 1280px) {
    /* 너비가 1024 ~ 1280px: 데스크탑 */
}
@media (max-width: 1024px) {
    /* 너비가 960 ~ 1024px: 데스크탑 */
}
@media (max-width: 960px) {
    /* 너비가 768 ~ 960px: 노트북 */
}
/* ### 타블릿 ### */
@media (max-width: 768px) {
    /* 너비가 576 ~ 768px: 타블릿 */
}
/* ### 모바일 ### */
@media (max-width: 576px) {
    /* 너비가 0 ~ 576px: 모바일 */
    .recommand__list li {
        width: 100%;
    }
}
