/* left */
.user-info-account__profile {
    display: flex;
    align-items: center;
}

.user-info-account__avatar {
    position: relative;
}

.user-info-account__avatar-img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 2px solid var(--color-light-white);
}

.user-info-account__tier-badge {
    padding: 5px;
    width: 40px;
    border-radius: 40px;
    border: 1.5px solid var(--color-light-white);
    position: absolute;
    left: 83%;
    bottom: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width ease-in-out 80ms;
    background-color: white;
    z-index: 1;
}

.user-info-account__tier-badge:hover {
    position: absolute;
    width: 110px;
}

.user-info-account__tier-badge img {
    width: 25px;
    height: 25px;
}

.user-info-account__tier-badge span {
    display: inline-block;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: var(--font-x-micro);
}

.user-info-account__desc {
    margin-top: 15px;
    line-height: 35px;
}

.user-info-account__desc__company {
    margin-left: 20px;
}

.user-info-account__belong {
    font-weight: var(--weight-semi-bold);
}

.user-info-account__belong-title {
    font-size: var(--font-micro);
    opacity: 0.7;
    margin-right: 5px;
}

.user-info-account__organization {
    display: flex;
    align-items: center;
}

.user-info-account__organization img + img {
    margin-left: 3px;
}

.user-info-account__profile__info {
    margin-left: 40px;
    position: relative;
}

.user-info-account__profile__wrap img {
    width: 200px;
    height: 200px;
}

.user-info-account__name {
    margin-top: 5px;
    font-size: var(--font-large);
    font-weight: var(--weight-semi-bold);
    letter-spacing: 5px;
}

.user-info-account__name > a:hover {
    text-decoration: underline;
}

.user-info-account__rank {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.user-info-account__id {
    margin-left: 15px;
    font-size: var(--font-small);
    color: var(--color-light-grey);
}

/* right */
.user-info-account__values {
    display: flex;
    flex-wrap: wrap;
}

.user-info-account__value {
    color: var(--color-light-white);
    opacity: 0.85;
    margin-right: 5px;
    margin-top: 10px;
    font-size: var(--font-x-micro);
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border-radius: 3px;
    align-items: center;
    min-width: 85px;
}

.user-info-account__value:nth-child(2n) {
    background-color: var(--color-green);
}

.user-info-account__value:nth-child(2n + 1) {
    background-color: var(--color-orange);
}

.user-info-account__value__title {
    margin-left: 4px;
}

.user-info-account__value > span {
    text-align: right;
    font-weight: bolder;
    margin-left: 1em;
}

/*  ### PC ###  */
@media (max-width: 1280px) {
    /* 너비가 1024 ~ 1280px: 데스크탑 */
}
@media (max-width: 1024px) {
    /* 너비가 960 ~ 1024px: 데스크탑 */
}
@media (max-width: 960px) {
    /* 너비가 768 ~ 960px: 노트북 */
}

/* ### 타블릿 ### */
@media (max-width: 768px) {
    /* 너비가 576 ~ 768px: 타블릿 */
}

/* ### 모바일 ### */
@media (max-width: 576px) {
    /* 너비가 0 ~ 576px: 모바일 */

    .user-info-account__profile {
        flex-direction: column;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid var(--color-light-white);
    }

    .user-info-account__profile__wrap img {
        width: 175px;
        height: 175px;
    }

    .user-info-account__profile__info {
        width: 100%;
        margin-top: 12px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 3px 14px 1px rgba(220, 220, 220, 1);
        -moz-box-shadow: 0px 3px 14px 1px rgba(220, 220, 220, 1);
        box-shadow: 0px 3px 14px 1px rgba(220, 220, 220, 1);
        border-left: unset;
        padding-left: unset;
        margin-left: unset;
    }

    .user-info-account__values {
        width: 100%;
        padding: unset;
        justify-content: center;
    }

    .user-info-account__name {
        text-align: center;
        letter-spacing: unset;
        line-height: 1.5em;
        font-size: var(--font-regular);
        margin: 0 auto;
        flex-direction: column;
        padding: 10px 0;
    }

    .user-info-account__name * {
        display: block;
    }

    .user-info-account__name span {
        margin: unset;
    }

    .user-info-account__rank {
        justify-content: center;
    }

    .user-info-account__value {
        font-size: var(--font-x-micro);
        width: 16.5%;
        margin: unset;
        min-width: unset;
        line-height: 1.5em;
        flex-direction: column;
    }

    .user-info-account__value svg {
        display: none;
    }

    .user-info-account__value span {
        margin: 0;
    }

    .user-info-account__desc {
        margin: unset;
        padding: 15px 15px;
        text-align: center;
        line-height: 25px;
    }

    .user-info-account__belong {
        margin-top: 25px;
    }

    .user-info-account__organization {
        justify-content: center;
    }
}
