/* #user-info {
} */

.user-info__refresh > button {
    border: none;
    outline: none;
    background-color: var(--color-green);
    padding: 3px 5px;
    color: var(--color-white);
    border-radius: 5px;
    margin-right: 5px;
}

.user-info__refresh > button * {
    cursor: inherit;
}

.user-info__refresh-btn {
    transition: transform 800ms ease-in-out;
}

.user-info__refresh button:hover .user-info__refresh-btn {
    transform: rotate(360deg);
}

/* top */
.user-info__summary {
    padding: 15px 0 25px 0;
}

.user-info__refresh span {
    font-size: var(--font-micro);
    color: var(--color-dark-white);
}

/* bottom */
.user-info__detail > section > div {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--color-light-white);
}

.user-info__detail > section > h1 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.user-info__detail > section > h1 + div {
    margin-top: 20px;
}

.user-info__detail > section {
    margin-top: 50px;
}

@media screen and (min-width: 769px) {
    .user-info__refresh > button {
        border: none;
        outline: none;
        background-color: var(--color-green);
        padding: 3px 5px;
        color: var(--color-white);
        border-radius: 5px;
        margin-right: 5px;
    }

    .user-info__refresh > button * {
        cursor: inherit;
    }

    .user-info__refresh-btn {
        transition: transform 800ms ease-in-out;
    }

    .user-info__refresh button:hover .user-info__refresh-btn {
        transform: rotate(360deg);
    }

    /* top */
    .user-info__summary {
        padding: 15px 0 25px 0;
    }

    .user-info__refresh span {
        font-size: var(--font-micro);
        color: var(--color-dark-white);
    }

    /* bottom */
    .user-info__detail > section > div {
        padding: 20px;
        border-radius: 5px;
        border: 1px solid var(--color-light-white);
    }

    .user-info__detail > section > h1 {
        font-size: var(--font-medium);
        font-weight: var(--weight-semi-bold);
    }

    .user-info__detail > section > h1 + div {
        margin-top: 20px;
    }

    .user-info__detail > section {
        margin-top: 50px;
    }
}