.user-info-repo {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
}

.user-info-repo + .user-info-repo {
    margin-top: 10px;
}

.user-info-repo__detail {
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-size: var(--font-micro);
}

.user-info-repo__detail > p {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.user-info-repo__detail > p > label {
    font-weight: var(--weight-semi-bold);
}

.user-info-repo__detail > p > span {
    overflow-wrap: anywhere;
    text-align: center;
}

.user-info-repo__title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    font-size: var(--font-micro);
}

.user-info-repo__title ul {
    margin-top: 5px;
}

.user-info-repo__title:hover {
    text-decoration: underline;
}

.user-info-repo__title * {
    cursor: inherit;
}

.user-info-repo__title h2 {
    font-size: var(--font-regular);
}

.user-info-repo__title span {
    margin-left: 5px;
    color: var(--color-dark-white);
}

/*  ### PC ###  */
@media (max-width: 1280px) {
    /* 너비가 1024 ~ 1280px: 데스크탑 */
}
@media (max-width: 1024px) {
    /* 너비가 960 ~ 1024px: 데스크탑 */
}
@media (max-width: 960px) {
    /* 너비가 768 ~ 960px: 노트북 */
}
/* ### 타블릿 ### */
@media (max-width: 768px) {
    /* 너비가 576 ~ 768px: 타블릿 */
}
/* ### 모바일 ### */
@media (max-width: 576px) {
    /* 너비가 0 ~ 576px: 모바일 */
    .user-info-repo {
        flex-direction: column;
    }

    .user-info-repo__detail {
        width: 100%;
        margin-top: 15px;
        flex-direction: column;
        line-height: 1.5em;
    }

    .user-info-repo__detail p {
        flex-direction: row;
        width: 100%;
    }

    .user-info-repo__detail * {
        display: block;
        width: 50%;
    }

    .user-info-repo__detail > p > span {
        text-align: left;
    }

    .user-info-repo__title {
        line-height: 20px;
    }
}
