.error-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.error-layout * {
    color: var(--color-light-grey);
}

.error-layout__content {
    margin-top: 2.5rem;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.error-layout__back {
    padding: 1em 2em;
    font-size: 0.8rem;
    margin-top: 1.5em;
    background-color: var(--color-light-grey);
    color: var(--color-light-white) !important;
    border-radius: 5px;
}

/* ### 모바일 ### */
@media (max-width: 576px) {
    /* 너비가 0 ~ 576px: 모바일 */

    .error-layout__content {
        font-size: 1.5rem;
    }
}
